* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

header {
  width: 100%;
  color: white;
  background: url(../images/desktop/image-hero.jpg);
  margin-bottom: 9vh;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header li {
  text-align: end;
  margin: 1em;
  list-style: none;
}

header a {
  color: white;
  text-decoration: none;
}

header p {
  font-size: 5rem;
  margin-top: 20VH;
  margin-left: 16vh;
  margin-right: 110vh;
  text-align: center;
  border: 1vh solid white;
  font-size: 6vh;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

article {
  padding: 6%;
  height: 80%;
  position: relative;
}

article .content {
  background: white;
  margin-top: 10VH;
  margin-left: 100vh;
  margin-right: 7vh;
}

article .content h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.figuretitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.figuretitle h3 {
  padding-left: 2%;
  text-align: flex-start;
}

.figuretitle button {
  padding: 4%, 2%, 2%, 4%;
  margin-right: 6%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.allfigure {
  border: white, solid, 10%;
  margin: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.allfigure figure {
  text-align: center;
  position: relative;
}

.allfigure figure picture {
  z-index: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.allfigure figure figcaption {
  left: 8vh;
  top: 50vh;
  color: white;
  position: absolute;
  z-index: 2;
}

footer {
  background: black;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footerstart {
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* flex-direction: row; */
}

footer .footerstart .logofooter {
  padding: 2%;
  margin-right: 1%;
}

footer .footerstart .linksectionpage {
  padding: 2%;
}

footer .footerstart .linksectionpage ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footerstart .linksectionpage li {
  list-style: none;
  text-align: start;
  margin: 1em;
}

footer .footerstart .linksectionpage a {
  text-decoration: none;
  color: white;
}

footer .footerend {
  margin: black, solid, 10%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}

footer .footerend .sociauxlinksicon {
  padding: 4%, 2vh;
  margin: 5%;
}

footer .footerend .copyright {
  color: white;
}
/*# sourceMappingURL=style.css.map */